/* 
Title 1
font-family: 'Neuton', serif;

Title 2
font-family: 'EB Garamond', serif;
font-weight: 400, 600, 700;

Text
font-family: 'Lato', sans-serif;
font-weight: 400, 700; */
 
 /* ------OVERALL STYLING FONTS------ */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
}

a:hover {
  text-decoration: none;
}
/* -------- Main CSS -------- */
/* Navigation */
#header {
  position: relative;
  background:rgba(255, 255, 255, 0.7);
}
.nav {
  padding: 30px 30px 30px 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  transform: rotate(-90deg);
  color: #327b9375;
  z-index: 10;
  font-size: 14px;
}

.nav:hover {
  text-decoration: none;
  color: #327b93fa;
}

.navigationBar {
  position: fixed;
  padding: 100px 20px 40px 40px;
}

#logo {
  display: block;
  width: 40px;
  object-fit: contain;
  margin: 10px auto;
  
  z-index: 6;
}

#logoDiv {
  display: block;
  z-index: 6;
  width: 98.23%;
  margin: 10px auto;
  position: fixed ;
}

/* Hello Container */
#container-1-sec {
  padding-top: 90px;
  padding-bottom: 170px;
  z-index: 4;
}
#helloImage {
  background-image: url(../about-image/websiteprofile.jpg);
  height: 750px;
}

/* Parallax image */
.parallax {
  position: relative;
  text-indent: -9999px;
  background-attachment: fixed;
  background-position: top left;
  background-size: 80%;
}
/* ----- */

#helloDesc {
  background: #327b931e;
  background-size: cover;
  height: 750px;
} 

.text {
  height: 760px;
  padding: 100px 50px;
}

.scroll {
  height: 20px;
  margin-left: 0px;
}

.helloName {
  font-family: 'Neuton', serif;
  font-weight: 600;
  color: #327b93;
  font-size: 80px;
}

.helloSubhead {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  color: #e3bebf;
  font-size: 30px;
}

.helloScroll {
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  color: 327b93;
  font-size: 18px;
  color: #327b93;
}

/* Bouncing scroll text */
.stage {
  height: 330px;
  width: 100%;
}
.helloScroll {
  align-self: flex-end;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  margin: 0 auto;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

/* ----- */

#scroll {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  text-align: left;
}
#scrollArrow {
margin-left: 5px;
}
