#container-3-sec {
    padding-top: 90px;
  padding-bottom: 170px;
  z-index: 1;
}
.resumeTitle {
    font-family: 'Neuton', serif;
    font-weight: 600;
    color: #327b93;
    font-size: 180px;
    position: absolute;
    z-index: 3;
    padding-top: 120px;
}

.skillsDiv {
    position: relative;
    padding-top: 280px;
}

.resTitle {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    color: white;
    font-size: 40px;
    padding: 30px 10px;
}

.skillsList {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 21px;
    padding: 5px 35px;
    text-transform: uppercase;
}

.skills, .tools {
    height: 250px;
}

.skills {
    background: #327b935b;
}
.tools {
    background: rgb(175, 175, 175);
}

a {
    text-decoration: none;
}




.work {
    height: 450px;
}

.BM {
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)), url(../about-image/bmback.jpg);
    background-size: cover;
}
.CK {
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)), url(../about-image/ckback.png);
    background-size: cover;
}

.bmtitle, .cktitle {
    color: #327b93f5;
    padding-bottom: 4px;
    margin-bottom: 0px;
}

.position {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: rgb(73, 73, 73);
    font-size: 17px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: rgba(26, 26, 26, 0.479);
    font-size: 24px;
    padding: 20px 35px;
    background:rgba(255, 255, 255, 0.7);
    margin: 30px auto;
}

.education {
   background: rgba(45, 0, 128, 0.274);
}

.school {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 24px;
    padding: 20px 35px;
}

.NU {
    font-weight: 700;
    margin-bottom: 0px;
}