@media only screen 
and (min-device-width : 790px) 
and (max-device-width : 1024px)  { 
    #container-1-sec {
        padding-top: 80px;
        padding-bottom: 70px;
      }
      #helloImage {
        height: 680px;
      }

      #helloDesc {
        height: 680px;
      } 

      .text {
        height: 690px;
        padding: 100px 50px;
      }
      
      .scroll {
        height: 20px;
        margin-left: 0px;
      }
      
      .parallax {
        background-size: 100%;
      }


.navigationBar {
  display: none;
 }

.header {
  display: none;
}

.helloName {
font-size: 50px;
}

.helloSubhead {
font-size: 20px;
}

.projectsTitle, .resumeTitle, .connectTitle  {
  font-size: 100px;
}

.workTile, .skillsDiv, .aboutSection {
  margin-top: 90px;
}
.skillsDiv, .aboutSection {
  padding-top: 110px;
}
.description {
  margin: 5px auto;
  font-size: 20px;
}

.textAboutMobile {
  height: 880px;
}

.stage {
  height: 380px;
}
#byeImage {
  height: 980px;
  background-size: 100%;
}
.connectForm {
  margin-top: 450px;
  margin-bottom: 100px;
}
}