a {
    text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#container-2-sec {
    position: relative;
    padding-top: 90px;
    padding-bottom: 170px;
    z-index: 1;
}

.projectsTitle, .gamesTitle, .appTitle {
    font-family: 'Neuton', serif;
    font-weight: 600;
    color: #e3bebf;
    font-size: 180px;
    position: absolute;
    z-index: 2;
    padding-top: 120px;
}

.gamesTitle, .appTitle {
    transform: rotate(+90deg);
    padding-top: 0px;
    position: absolute;
    right: -370px;
    top: 140px;
}

.appTitle {
    right: -315px;
    top: 80px;
}

.workTile {
    padding-top: 280px;
}

.games, .apps {
    position: relative;
}

/* HANGMAN */
.hangman {
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../work-image/hangman.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    z-index: 1;
}

.hangman:hover {
    background: rgba(37, 113, 255, 0.13);
    text-decoration: none;
}

/* CLI - HANGMAN */
.cli-hangman {
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../work-image/cli-hangman.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    z-index: 1;
}

.cli-hangman:hover {
    background: rgba(255, 37, 226, 0.13);
    text-decoration: none;
}

/* MARIO */
.mario {
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../work-image/mario.jpg);
    background-size: cover;
    background-position: left;
    height: 500px;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    z-index: 1;
}

.mario:hover {
    background: rgba(255, 0, 0, 0.13);
    text-decoration: none;
}

/* POKEMON */
.pokemon {
    height: 500px;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../work-image/pokemon.jpg);
    background-size: cover;
    background-position: center;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    z-index: 1;
}

.pokemon:hover {
    background: rgba(255, 238, 0, 0.13);
    text-decoration: none;
}

/* TRIVIA */
.trivia {
    height: 500px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(../work-image/trivia.jpg);
    background-position: right;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    z-index: 1;
}

.trivia:hover {
    background: rgba(0, 255, 0, 0.13);
    text-decoration: none;
}

/* RPS */
.rps {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(../work-image/rps.jpeg);
    height: 500px;
    background-position: center; 
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    z-index: 1;
}

.rps:hover {
    background: rgba(211, 211, 211, 0.5);
    text-decoration: none;
}

/* JIF */
.jif {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(../work-image/jif.jpg);
    height: 500px;
    background-position: center; 
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    z-index: 1;
}

.jif:hover {
    background: rgba(214, 124, 20, 0.397);
    text-decoration: none;
}

/* BWOKE */
#bWokeDIV {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(../work-image/bwoke.jpg);
    height: 600px;
    background-position: center; 
    background-size: cover;
    line-height: 2;
    padding: 20px 30px 30px 50px;
    position: relative;
    z-index: 1;
}

#bWokeDIV:hover {
    background: rgba(2, 87, 136, 0.336);
    text-decoration: none;
}


.bwokeDesc {
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 21px;
    padding: 25px 15px;
    text-decoration: none;
    margin: 0px auto;
}

.morewoke {
    display: none;
    font-family: 'Neuton', serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 15px;

    position: absolute;
    top: 20px;
    right: 20px;
}

#bwokelogo {
    display: block;
    margin: 0px auto;
    width: 50px;
    padding: 15px 5px;
}

/* Liri Bot */
.liri {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(../work-image/liri.jpg);
    height: 500px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    background-position: center; 
    z-index: 1;
}

.liri:hover {
    background: rgba(176, 169, 196, 0.384);
    text-decoration: none;
}

/* Bamazon Bot */
.bamazon {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(../work-image/bamazon.jpg);
    height: 500px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    background-position: center; 
    z-index: 1;
}

.bamazon:hover {
    background: rgba(228, 159, 11, 0.384);
    text-decoration: none;
}

/* Friend Finder */
.friendfinder {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(../work-image/friendfinder.jpg);
    height: 500px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
    position: relative;
    background-position: center; 
    z-index: 1;
}

.friendfinder:hover {
    background: rgba(179, 119, 175, 0.384);
    text-decoration: none;
}

/* inside each game */
.worktitle {
    display: none;
    font-family: 'Neuton', serif;
    font-weight: 600;
    text-align: center;
    color: #327b93;
    font-size: 50px;
    padding: 30px;
}

.subTitle {
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #327b93;
    font-size: 15px;
    text-transform: uppercase;
}

.forMore {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: darkgrey;
    font-size: 15px;
}


.viewlink {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #327b93bb;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;

}

.viewlink:hover {
    font-weight: 700;
    color: #327b93;
    text-decoration: none;
}

.viewLink {
    display: none;
}
