 /* ------OVERALL STYLING FONTS------ */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* H1 */

a {
    text-decoration: none;
}
.aboutheadtitle {
    font-family: 'Titillium Web', sans-serif;
    color: #003E51;
    font-size: 55pt;
    text-transform: uppercase;
}

.headtitle {
    font-family: 'Titillium Web', sans-serif;
    color: #003E51;
    font-size: 55pt;
    text-transform: uppercase;
    font-weight: 900;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    color: #3F4444;
    font-size: 55pt;
    text-transform: uppercase;
    font-weight: 700;
}

 /* H2 */
h2 {
    font-family: 'Playfair Display', serif;
    color: #505759;
    font-size: 40pt;
    text-transform: uppercase;
    font-weight: 700;
}

/* H3 */
.headbody {
    font-family: 'Montserrat', sans-serif;
    color: #D9E1E2;
    font-size: 18pt;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #505759;
    font-size: 20pt;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footbody {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12pt;
    font-weight: 300;
}

/* Body */

p {
    font-family: 'Montserrat', sans-serif;
    color: #505759;
    font-size: 15pt;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    font-family: 'Montserrat', sans-serif;
    color: #505759;
    font-size: 15pt;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
    
}

/* -------------HEADER------------ */
#header {
    width: 100%;
    padding: 52px;
    background-color: #5CA3B3;
    
}


.menu {
    width: 100%;
    display: block;
    margin: 0px auto;
    padding-right: 5px;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 10pt;
    font-weight: 600;  

    text-transform: uppercase;
}

.menu:hover{
    color: #003E51;
}

.menu:active{
    color: #003241;
}

/* Logo */
#logo {
    width: 80px;
    height: 80px;
}


/* ------- LETS CONNECT-------- */
.hline { 
    height:2px;
    background: #D0D3D4;
    width: 90%;
    margin: 10px auto;
    margin-top: 50px;

}

.hlinetop { 
    height:2px;
    background: #5CA3B;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 50px;

}

#submit {
    display: block;
    margin: 0px auto;
    color: #D9E1E2;
    border-color: transparent;
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    height: 50px;
    background-color: #5CA3B3;
    text-align: center;
}

#submit:hover{
    background-color: #003E51;
    color: #D9E1E2;

}

 /* -------Footer Box-------- */
 .footer {
    background-color: #D9E1E2;
}


/*------------PAGE SPECIFIC ------------------*/

/* WORK PAGE */
a:hover {
    text-decoration: none;
}
.work1 {
    background: url(work-image/hangman.jpg);
    height: 600px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
}


.work2 {
    background: url(work-image/mario.jpg);
    height: 600px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
}

.work3 {
    background: url(work-image/pokemon.jpg);
    height: 600px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
}

.work4 {
    background: url(work-image/trivia.jpg);
    height: 600px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
}

.work5 {
    background: url(work-image/rps.jpg);
    height: 600px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
}

.work6 {
    background: url(work-image/widget.jpg);
    height: 600px;
    background-size: cover;
    line-height: 2;
    padding: 120px 50px 50px 50px;
}

.worktitle {
    display: block;
    text-align: center;
    width: 100%;
    height: 180px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;

    background-color:rgba(255, 255, 255, 0.7);

}

.worktitle:hover {
    background-color:rgba(255, 255, 255, 0.9);
}

.worktitle:active {
    background-color:rgba(255, 255, 255, 1);   
}

.subTitle {
    display: block;
    text-align: center;
    height: 60px;
    margin: 0px auto;
    padding: 10px 20px 10px 20px ;
    border-radius: 10px;
    color: #D9E1E2;
    background-color:rgba(0, 0, 0, 0.7);

}
/* RESUME PAGE*/

.listtitle {
    font-weight: 300;
    font-size: 12pt;
}

.list {
    text-transform: uppercase;
    font-weight: 500;
}

details {
    font-family: 'Montserrat', sans-serif;
    color: #505759;
    font-size: 12pt;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.position {
    font-weight: 500;
}

.expdetail {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 0px;
    font-size: 20px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

/* CONNECT PAGE */
.symbol {
    color: #D9E1E2;
    font-weight: 700;
}
    
 /*ABOUT PAGE*/
#profile {
    display: block;
    object-fit: contain;
    width: 100%;
}