<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="/images/about-image/websiteprofile.jpg">
    <meta property="og:image:type" content="image/jpg">
    <link rel="icon" type="image/png" href="/images/Logos/design-logo_tab.png" />
    <title>Isabel Ngan</title>

    <!-- Bootstrap HTML/CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,600,900&display=swap"
        rel="stylesheet">
    <!-- styling css -->
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/work.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/post.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg container-fluid" id="navBar">
        <a class="nav-link" id="imgLogo" href="/"><img src="/images/Logos/design-logo_website.png" class="navbar-brand"
                id="logo-nav">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="navName nav-item">ISABEL NGAN</li>
                <li class="nav-item">
                    <a class="nav-link" id="project" href="/">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="resume" href="IsabelNganCV.pdf" target="_blank">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="about" href="/about-isabel">About</a>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
                <a href="https://github.com/ingan274/" target="_blank"><img class="socialicon"
                        src="/images/social-image/001-github.png"></a>
                <a href="https://www.linkedin.com/in/isabel-ngan/" target="_blank"><img class="socialicon"
                        src="/images/social-image/002-linkedin.png"></a>
                <a href="https://www.instagram.com/isabel_ngan/" target="_blank"><img class="socialicon"
                        src="/images/social-image/003-instagram.png"></a>
            </div>
        </div>



    </nav>

    {{{body}}}

</body>

</html>