<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="profile" src="/images/about-image/websiteprofile-2.jpg">
        </div>
        <div class="col-6">
            <div class="abtMeTitle">
                ARTIST TURNED DESIGNER
            </div>
            <div class="aboutme">
                I design for emotion. I believe cohesive and intuitive design systems are functional, usable, reliable,
                and most of all, breath feeling. Emotional design allows conversations with users that always end with a
                better iteration. So, why not design to fulfill a task and put a smile on our users faces?
                <br><br>
                As individuals, we own our story; as a collective, shared stories can be powerful. I relish listening to
                stories of individuals and companies that stem from passion and drive. I aim to always be open to
                learning new things, while acknowledging what I don’t know.
            </div>
            <div class="abtMeTitle">
                WHY DESIGN AND TECHNOLOGY?
            </div>
            <div class="aboutme">
                My interest in Human-Computer Interaction comes from my interest in people. Through my studies into
                people and their experiences with visual concepts, I realized peoples' perceptions influence the way
                they experiences the world. While my work was focused on technology and business, I quickly realized
                that
                understanding emotional affect was playing a huge role in my work as an assistant buyer and account
                executive. This led me to
                reassess my goals, not away from business, but toward understanding emotion and how it dovetails with
                technology.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="connectTitle">
            GIVE ME A PING!
        </div>
        <div class="connect">
            isabelngan27@gmail.com
        </div>
    </div>
</div>