<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="profile" src="/images/about-image/websiteprofile-1.png">
        </div>
        <div class="col-6">
            <div class="abtMeTitle">
                ARTIST TURNED DESIGNER
            </div>
            <div class="aboutme">
                I design for emotion. I believe cohesive and intuitive design systems are functional, usable, reliable,
                and most of all, breath feeling. Emotional design allows conversations with users that always end with a
                better iteration. So, why not design to fulfill a task and put a smile on our users faces?
                <br><br>
                As individuals, we own our story; as a collective, shared stories can be powerful. I relish listening to
                stories of individuals and companies that stem from passion and drive. I aim to always be open to
                learning new things, while acknowledging what I don’t know.
            </div>
            <div class="abtMeTitle">
                WHY DESIGN AND TECHNOLOGY?
            </div>
            <div class="aboutme">
                My interest in Human-Computer Interaction comes from my interest in people. Through my studies into
                people and their experiences with visual concepts, I realized people perceptions changes the way they
                experiences the world. My work in Fashion and Advertising helped me realized how technology and
                one's experience with technology motivates even the most human experiences: maintaining relationships to
                expressing our every triumphs and tribulations. What captivates me most about people is the cyclical
                relationship we have with designing these technologies: we shape it, and it shapes us.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="connectTitle">
            GIVE ME A PING!
        </div>
        <div class="connect">
            isabelngan27@gmail.com
        </div>
    </div>
</div>