<form class="container submit-work">
    <div class="form-group">
        <label for="worktitle">Work Title</label>
        <input class="form-control" id="worktitle">
    </div>
    <div class="form-group">
        <label for="worktitle">Code URL (Git Hub)</label>
        <input class="form-control" id="codeurl">
    </div>
    <div class="form-group">
        <label for="liveurl">Live Code URL</label>
        <input class="form-control" id="liveurl">
    </div>
    <div class="form-group">
        <label for="imgsrc">Image URL</label>
        <input class="form-control" id="imgsrc" value="/images/work-image/ .jpg">
    </div>
    <div class="form-group">
        <label for="skill1">Skill 1</label>
        <select class="form-control" id="skill1">
           <option value=""></option>
            <option>HTML</option>
            <option>CSS</option>
            <option>JQuery</option>
            <option>Node</option>
            <option>Express</option>
            <option>MongoDB</option>
            <option>React</option>
            <option>MySQL</option>
            <option>API/AJAX</option>
            <option>Local Server</option>
            <option>Firebase</option>
            <option>Command Line</option>
            <option>Inquirer</option>
            <option>Heroku</option>
            <option>App</option>
            <option>Game</option>
            <option>Git</option>
        </select>
    </div>
    <div class="form-group">
        <label for="skill2">Skill 2</label>
        <select class="form-control" id="skill2">
       <option value=""></option>
            <option>HTML</option>
            <option>CSS</option>
            <option>JQuery</option>
            <option>Node</option>
            <option>Express</option>
            <option>MongoDB</option>
            <option>React</option>
            <option>MySQL</option>
            <option>API/AJAX</option>
            <option>Local Server</option>
            <option>Firebase</option>
            <option>Command Line</option>
            <option>Inquirer</option>
            <option>Heroku</option>
            <option>App</option>
            <option>Game</option>
            <option>Git</option>
            <option>Javascript (Vanilla)</option>

        </select>
    </div>
    <div class="form-group">
        <label for="skill3">Skill 3</label>
        <select class="form-control" id="skill3">
            <option value=""></option>
            <option>HTML</option>
            <option>CSS</option>
            <option>JQuery</option>
            <option>Node</option>
            <option>Express</option>
            <option>MongoDB</option>
            <option>React</option>
            <option>MySQL</option>
            <option>API/AJAX</option>
            <option>Local Server</option>
            <option>Firebase</option>
            <option>Command Line</option>
            <option>Inquirer</option>
            <option>Heroku</option>
            <option>App</option>
            <option>Game</option>
            <option>Git</option>
            <option>Javascript (Vanilla)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="skill4">Skill 4</label>
        <select class="form-control" id="skill4">
           <option value=""></option>
            <option>HTML</option>
            <option>CSS</option>
            <option>JQuery</option>
            <option>Node</option>
            <option>Express</option>
            <option>MongoDB</option>
            <option>React</option>
            <option>MySQL</option>
            <option>API/AJAX</option>
            <option>Local Server</option>
            <option>Firebase</option>
            <option>Command Line</option>
            <option>Inquirer</option>
            <option>Heroku</option>
            <option>App</option>
            <option>Game</option>
            <option>Git</option>
            <option>Javascript (Vanilla)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="skill5">Skill 5</label>
        <select class="form-control" id="skill5">
            <option value=""></option>
            <option>HTML</option>
            <option>CSS</option>
            <option>JQuery</option>
            <option>Node</option>
            <option>Express</option>
            <option>MongoDB</option>
            <option>React</option>
            <option>MySQL</option>
            <option>API/AJAX</option>
            <option>Local Server</option>
            <option>Firebase</option>
            <option>Command Line</option>
            <option>Inquirer</option>
            <option>Heroku</option>
            <option>App</option>
            <option>Game</option>
            <option>Git</option>
            <option>Javascript (Vanilla)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary " id="submit-work">Submit</button>
</form>