<nav class="workbar sticky-top navbar-expand-lg container-fluid" id="navBar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="work-link" id="all-work" href="/">All Projects</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="game-work" href="/work/Game">MySQL</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="app-work" href="/work/App">MySQL</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="jq-work" href="/work/JQuery">JQuery</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="react-work" href="/work/MySQL">MySQL</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="js-work" href="/work/Command line">Command line</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="node-work" href="/work/Node">Node</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="express-work" href="/work/Express">Express</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="mongodb-work" href="/work/Mongodb">MongoDB</a>
            </li>
            <li class="nav-item">
                <a class="work-link" id="react-work" href="/work/React">React</a>
            </li>

        </ul>
    </div>
</nav>

<section class=" ALLwork container">
    {{#each allwork}}
    {{> indwork}}
    {{/each}}
</section>